<form autocomplete="off" [formGroup]="loginForm" class="formcomponent mx-auto border p-4 rounded" *ngIf="!loading" (ngSubmit)="login()">

  <div class="d-flex" style="align-items: center;">
    <mat-icon class="icon mr-1 mb-1" style="font-size: 23px;" fontIcon="lock"></mat-icon>
    <h4>Login</h4>
  </div>

  <br/>

  <label>Email</label>
  <!-- <app-star class="ml-1"></app-star> -->
  <input class="form-control" id="email" required formControlName="email" name="email" type="email">
  @if(loginForm.get('email')?.touched && !loginForm.get('email')?.valid){
    <div style="color: var(--error); font-size: 12px;">
      @if(loginForm.get('email')?.errors?.['required']){
        <div style="color: #EE6352; font-size: 12px;">
          Email is required
        </div>
      }
      @else{
        <div style="color: #EE6352; font-size: 12px;">Invalid email</div>
      }
    </div>
  }
  <br/>
  <label>Password</label>
  <!-- <app-star class="ml-1"></app-star> -->
  <div class="d-flex" style="align-items: center;">
    <input class="form-control" id="password" name="password" formControlName="password" type="{{showPassword ? 'text' : 'password'}}">
    <mat-icon (click)="toggleShowPassword()" class="icon mt-1 ml-2" style="font-size: 18px; cursor: pointer;" fontIcon="{{showPassword ? 'visibility_off' : 'visibility'}}"></mat-icon>
  </div>
  @if(loginForm.get('password')?.touched && !loginForm.get('password')?.valid){
    <div style="color: #EE6352; font-size: 12px;">
      Password is required
    </div>
  }
  <br/>

  <div style="font-size:13.5px;">
    New to this portal ?
    <a routerLink="/register">Register</a>
    here.
  </div>

  <br/>

  <input type="submit" [disabled]="!loginForm.valid" value="Login" class="submitbutton" style="width:100%; text-align:center; background-color:var(--primary);">

</form>
